.grid {
  width: 75vw;
  height: 75vh;
  overflow: scroll;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: min-content;
}

.cell {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.row-num {
  background-color: #eeeeee;
  position: sticky;
  left: 0;
}

.header {  
  background-color: #eeeeee;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header:first-of-type {
  left: 0;
}
