.grid-container {
  width: 75vw;
  height: 75vh;
  overflow: auto;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  margin-bottom: 2em;
}

.grid {
  display: grid;
  grid-template-columns: min-content;
}

.cell {
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.row-num {
  position: sticky;
  left: 0;
  background-color: #eeeeee;
}

.header {  
  background-color: #eeeeee;
  position: sticky;
  top: 0;
}
